@charset  'UTF-8';

@font-face {
    font-family: 'math-font';
    src: url(fonts/mathematics_boredom/Mathematics\ Boredom.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

canvas{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.menu{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;  
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(5px); 
  border: 2px solid white;
}

.menu > h1{
    font-family: 'math-font';
    font-size: 7em;
}

.menu > a{
    display: block;
    width: 50%;
    margin: auto;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    padding: 5px;
}

.menu > a:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 244, 244, 0.349);
}

footer{
    position: fixed;
    letter-spacing: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;  
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 40px;
    border-radius: 12px;
    text-align: center;
    backdrop-filter: blur(2px);
}

footer > a{
    color: white;
}
