@charset  'UTF-8';

@font-face {
    font-family: 'math-font';
    src: url(fonts/mathematics_boredom/Mathematics\ Boredom.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

canvas{
    display: block;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
